/* NOSOTROS Img */
.titulo-nosotros{
    background: rgb(85,22,112);
    background: linear-gradient(90deg, rgba(85,22,112,1) 0%, rgba(102,2,2,1) 50%, rgba(0,0,0,1) 100%);
}

.titulo-nosotros h3{
    color: black;
}

.container-history{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.container-history img{
    width: 100%;
}

.container-history .card{
    width: 100%;
}

